.impact {
  background-color: #afbc88;
  border-radius: 0.5em;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin-top: 10px;
}

p {
  padding: 0 10px;
}
