.impact {
  background-color: #afbc88;
  border-radius: 0.5em;
  border-color: rgb(56, 68, 44);
  border-style: solid;
}

p {
  padding: 1em;
  margin-left: 0.2em;
  text-align: center;
}

.jelloHorizontal {
  background-color: whitesmoke;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  width: 5vw;
  display: inline-block;
}

.treeCount {
  background-color: whitesmoke;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  position: relative;
  display: inline-block;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin-top: 10px;
  width: 5vw;
}

p {
  padding: 0 10px;
}

.animate {
  animation: jello-horizontal 0.9s both;
}

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
