:root {
  --primary-color: #32a4dc;
  --secondary-color: ghostwhite;
  --primary-font: Courier;
}

body {
  margin: 0;
  font-family: "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}

.leaflet-container {
  height: 500px;
  width: 500px;
}
