@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

:root {
  --primary-color: #32a4dc;
  --secondary-color: ghostwhite;
  --primary-font: Inter;
}

html {
  background: url(img/two-brown-trees.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mapStyle {
  display: flex;
  grid-column: 2;
  grid-row: 2;
}

.leaflet-container {
  height: 80vh;
  width: 39vw;
}

#impact {
}
